<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<system.web>
		<compilation debug="true" strict="false" explicit="true" targetFramework="4.0"/>
		<authentication mode="Forms">
		</authentication>
		<authorization>
			<allow users="?"/>
		</authorization>
	</system.web>
	<location path="contratar">
		<system.web>
			<authorization>
				<deny users="?"/>
			</authorization>
		</system.web>
	</location>
 <system.serviceModel>
  <bindings>
   <basicHttpBinding>
    <binding name="WebServiceSoap" />
   </basicHttpBinding>
  </bindings>
  <client>
   <endpoint address="http://localhost:56962/WebService.asmx" binding="basicHttpBinding"
    bindingConfiguration="WebServiceSoap" contract="ServiceReference1.WebServiceSoap"
    name="WebServiceSoap" />
  </client>
 </system.serviceModel>
</configuration>
